
<html class="h-full bg-white">
  <head>
      <meta charset="UTF-8">
      <title>Login</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.3/dist/tailwind.min.css" rel="stylesheet">
  <style>
    body {
        background-image: repeating-linear-gradient(
            to bottom, 
            #7FDBB6 0%, 
            #96E6B3 33%, 
            #3B82F6 66%, 
            #7FDBB6 100%
        );
        margin: 0;
        padding: 0;
    }
</style>

  </head>
  <body class="h-200-screen bg-gradient-to-br from-green-300 via-green-200 to-blue-300">
    <div class="relative z-10 flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <!-- Animated Circles -->
        <div class="absolute inset-0 flex justify-center items-center pointer-events-none">
          <div class="animate-spin-slow h-128 w-128 rounded-full border-4 animate-border-color opacity-40"></div>
      </div>
        <!-- Login Form -->
        <div class="relative z-20 sm:mx-auto sm:w-full sm:max-w-md p-6 bg-white rounded-lg shadow-md">
          <img class="mx-auto h-12 mt-2 w-auto rounded-full" src="./media/logo/food_logo.png" alt="Company Logo">
          <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"> Register account</h2>
          <form class="mt-10 space-y-6" action="" method="POST">
      {% csrf_token %}
      <div>
        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Username</label>
        <div class="mt-2">
          <input id="username" name="username" type="text" autocomplete="email" required class="block pl-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <!-- age -->
      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Age</label>
          <!-- <div class="text-sm">
            <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
          </div> -->
        </div>
        <div class="mt-2">
          <input id="age" name="age" type="text" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>


      <!-- address -->
      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Address</label>
          <!-- <div class="text-sm">
            <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
          </div> -->
        </div>
        <div class="mt-2">
          <input id="address" name="address" type="text" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

<!-- gender  with select male and female  -->
  <div>
    <div class="flex items-center justify-between">
      <label for="gender" class="block text-sm font-medium leading-6 text-gray-900">Gender</label>
    </div>
    <div class="mt-2">
    <!-- select male and female input field tailwend  -->
    <select id="gender" name="gender" class="block w-full pl-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6">
      <option value="m">Male</option>
      <option value="f">Female</option>
      <option value="o">Other</option>
    </select>
    </div>
  </div>
      <!-- Phone number -->
      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Phone number</label>
          <!-- <div class="text-sm">
            <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
          </div> -->
        </div>
        <div class="mt-2">
          <input id="phone" name="phone" type="text" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>
      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
          <!-- <div class="text-sm">
            <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
          </div> -->
        </div>
        <div class="mt-2">
          <input id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Register Now</button>
      </div>
    </form>
    <p class="mt-10 text-center text-sm text-gray-500">
      Alreday have a account?
      <a href="{% url 'login' %}" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Login</a>
    </p>

  </div>
  </div>
  
</div>


  </body>
  </html>
